<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <div class="list-group">
        <a href="/titleManagement" class="list-group-item list-group-item-action">Manage Titles</a>
        <a href="/objectiveManagement" class="list-group-item list-group-item-action">Manage Objectives</a>
        <a href="/scopeManagement" class="list-group-item list-group-item-action">Manage Scopes</a>
        <a href="/responsibilityManagement" class="list-group-item list-group-item-action">Manage Responsibilities</a>
        <a href="/definitionManagement" class="list-group-item list-group-item-action">Manage Definitions</a>
        <a href="/developmentManagement" class="list-group-item list-group-item-action">Manage Developments</a>
        <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
    </div>
</div>
</body>
</html>
