<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<h1>PROCEDIMIENTO NORMALIZADO DE OPERACIÓN</h1>

<div id="titleSection">
    <table border="1">
        <tr>
            <td colspan="3"><strong>TITULO:</strong> <span id="titleName"></span></td>
        </tr>
        <tr>
            <td>
                <p><strong>Procedimiento No.:</strong> <span id="procedureNumber"></span></p>
            </td>
            <td>
                <p><strong>F. de Aplicación:</strong> <span id="applicationDate"></span></p>
                <p><strong>Sustituye a:</strong> <span id="substitute"></span></p>
            </td>
            <td>
                <p><strong>Revisión No.:</strong> <span id="revisionNo"></span></p>
                <p><strong>Próxima Revisión:</strong> <span id="nextRevision"></span></p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
